.corner-image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 55px;
  height: 25px;
}

.card {
  display: flex;
  overflow: hidden;
}

.card-image {
  flex: 1;
  max-width: 145px;
  padding-top: 15%;
  padding-right: 0;
  margin-right: 0;
  height: 70%;
  margin-bottom: 30px;
}

.card-image--small {
  flex: 1;
  max-width: 175px;
  padding-top: 20%;
  padding-bottom: 5%;
  padding-right: 5%;
  height: 60%;
}

.rotate-image {
  margin-top: 9%;
  max-width: 250px;
  max-height: 200px;
  margin-bottom: 20px;
  transform: rotate(-5deg);
  transform-origin: left bottom;
}
.card-spacing {
  margin-bottom: 30%;
}

.card-content {
  /* flex: 1; */
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 5%;
  box-sizing: border-box;
  margin-top: 25%;
  text-align: left;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.card-logo--large {
  width: 90px;
  height: auto;
  margin-right: 10px;
}

.card-title {
  font-size: 15px;
  margin-bottom: 10px;
  width: 80%;
  text-align: left;
  color: white;
  font-weight: 50px;
}

.horizontal-bar {
  width: 80%;
  height: 1.5px;
  background-color: #f7f4f4;
  margin-bottom: 10px;
}

.card-desc {
  font-size: 14px;
  color: white;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .corner-image {
    filter: grayscale(100%) invert(100%) brightness(0) sepia(100%)
      hue-rotate(180deg);
  }

  .card-container {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .card {
    display: flex;
    flex: 0 0 calc(100vw);
    scroll-snap-align: start;
    flex-direction: column;
    transition: transform 0.3s ease;
    max-width: 100%;
  }

  .card-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 50%;
  }

  .card-image--small {
    width: 100%;
    /* height: auto; */
    margin: -20% auto 0;
    padding-bottom: 50%;
  }

  .rotate-image {
    transform: rotateY(2deg);
    margin-left: 15%;
    margin-top: 3%;
  }

  .card-content {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 15%;
    text-transform: uppercase;
  }

  .logo-container {
    text-align: center;
  }

  .card-logo {
    width: 60px;
    height: auto;
  }

  .card-logo--large {
    width: 100px;
    height: auto;
  }

  .card-title {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
  }

  .horizontal-bar {
    width: 80%;
    height: 1px;
    background-color: #fefefe;
    margin: 10px 0;
  }

  .card-desc {
    font-size: 16px;
    margin-bottom: 20px;
    color: #f1ebeb;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  .corner-image {
    filter: grayscale(100%) invert(100%) brightness(0) sepia(100%)
      hue-rotate(180deg);
  }

  /* .card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .card {
    display: inline-block;
    flex: 0 0 calc(100vw);
    scroll-snap-align: start;
    flex-direction: column;
  }

  .card-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 50%;
  }

  .card-image--small {
    width: 100%;
    /* height: auto; */
    margin: -20% auto 0;
    padding-bottom: 50%;
  }

  .rotate-image {
    transform: rotateY(1deg);
    margin-left: 15%;
    height: 200px;
  }

  .card-content {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 15%;
    text-transform: uppercase;
  }

  .logo-container {
    text-align: center;
  }

  .card-logo {
    width: 60px;
    height: auto;
  }

  .card-logo--large {
    width: 100px;
    height: auto;
  }

  .card-title {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
  }

  .horizontal-bar {
    width: 80%;
    height: 1px;
    background-color: #fefefe;
    margin: 10px 0;
  }

  .card-desc {
    font-size: 16px;
    margin-bottom: 20px;
    color: #f1ebeb;
  }
}
